*{
    margin: 0px;
    font-family:  Aharoni;
    padding: 0%;
}

 
        

.navbar{
    height: 70px;
    background-color: rgb(68, 129, 131);
    border-bottom:  1px solid black;
}
.navops{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70px;
 
    

}


.p  {
    color: white;
text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    padding: 10px;  

    border-radius: 6px;
    border-bottom:0px black solid ;
}
.p:hover{

border: 2px black solid;



}




/* content */
.content{
    
    height: 600px;
    background: linear-gradient(to bottom,rgb(68, 129, 131),rgb(255, 255, 255));

padding-top: 100px ;
}
.cont-pic{

    width: 300px;
    height: 300px;
    background-image: url(F.jpg);
    background-size: cover;
    border-radius: 50%;
    margin-left: 30px;
    display: flex;


    
}


.cont-intro{
  position: absolute;
  top: 300px;
  right: 150px;
  font-size: 0px;
    color: white;
    font-weight:bolder;
    font-family:  Aharoni;
    animation-name: intro;
    animation-timing-function:ease-out;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-play-state: running;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-direction: normal;
}
@keyframes intro {
    from{
        font-size: 0px;
    }
    to{
        font-size: 60px;
    }
}
/* pages */
.pages{
    display: flex;
    justify-content: center;
}


/* page1  */



.head{
    font-size: 60px;
    margin-left: 20px;
    font-family: Elephant;
    margin-top:0px ;
}
.pages{
    display: flex;
    justify-content: center;
}
.page1{
    position: absolute;
    top: 600px;
   background-color:white;
   width: 97%;
   height:500px ;
    margin-top:100px ;
    border: none;
    border-radius: 10px;
    
    background-color: rgb(255, 255, 255);
    font-size: 22px;

    box-shadow:10px 10px 10px 10px rgba(0, 0, 0, 0.2), 10px 10px 10px 0px rgba(0, 0, 0, 0.19);

      
    border: border-box;
    
}
.ul{
    padding-left: 20px;

font-weight: 0;
}
.w{
    font-family: Century;
}


/* page2 */


.page2{
    position: absolute;
    top: 150%;
    width: 97%;
   height: 200px; 
   border-radius: 10px;
   padding: 10px;
   box-shadow:20px 0px 20px 10px rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19);



}
.e{
    font-family: century;
    font-weight: 0;
    
}
.e:hover{
    width: 397px;
    display: inline-block;
        border-bottom:solid black 1px ;

}
.r{
    position: absolute;
    right: 830px;
    top: 16px;
}
a{
    text-decoration: none;
}
.project{
    margin-top: 20px;
    height: 50px;
    width: 99%;
    background-color:white;
 
    border-radius: 10px;
    box-shadow:0 10px 20px 10px rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19);



    
}

.t{
   
    color: black;
    font-size: 20px;
    position: relative;
    top: 15px;
    left: 30px;
    animation-name: project;
    animation-timing-function:steps(10);
    animation-duration: 10s;
    animation-delay: 0s;
    animation-play-state: running;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    display: inline;
    margin: 0px;

}
@keyframes project {
    form{
   left: 10px;

    }
    to{
   left: 1200px;
  
    }
}
.comment{
    display: flex;
    justify-content: center;
}
.z{
    margin-top: 30px;
}


/* page3 */
.page3{
    position: absolute;
    top: 182%;
    left: 1.5%;
    box-shadow:20px 0px 20px 10px rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19);
    width: 97%;
    height: 150px;
    border-radius: 10px;
    
}
.b{
    padding: 10px;
    font-weight: 0;
    font-family: century;
}
.number{
    display: flex;
justify-content: center;
}
.phone{
    margin-right: 0px;
   border-radius: 10px;
   background-color:rgba(0, 0, 0, 0.19) ;
    font-size: 30px;
    font-family: century;
    box-shadow:20px 0px 20px 10px rgba(0, 0, 0, 0.19), 0 20px 20px 0 rgba(0, 0, 0, 0.19);
}
.whatsapp{
   border-radius: 10px;
   background-color: rgba(0, 0, 0, 0.19);
    font-size: 30px;
    font-family: century;
    box-shadow:20px 0px 20px 10px rgba(0, 0, 0, 0.19), 0 20px 20px 0 rgba(0, 0, 0, 0.19);
}

.o{
    font-size: 30px;
}
/* login/sign up */
.login{
    left: 1.5%;
        width: 97%;
        height: 450px;
        position: absolute;
        top: 208%;
        border-radius: 10px;
        box-shadow:20px 0px 20px 10px rgba(0, 0, 0, 0.19), 0 20px 20px 0 rgba(0, 0, 0, 0.19);
        
    
}
.c{
    font-family: century;
    font-size: 30px;
    padding: 10px;
}
input{
    
    padding-left: 10px;
    width: 95%;
    margin-left: 1%;
    margin-top: 10px;
    height: 60px;
 
}
.f{
    position: absolute;
    top: 235px;
    left: 25px;
}
.m{
    position: absolute;
    top: 235px;
    left: 103px;
}
.l{
    width: 20px;
    margin-left: 70px;
  
}
.submit{
    font-family: century;
}
.submit:active{
   background-color: #cfcfcf;
   border: none;
   box-shadow:20px 0px 20px 10px rgba(0, 0, 0, 0.19), 0 20px 20px 0 rgba(0, 0, 0, 0.19)
}

footer{
    width: 100%;
    position: absolute;
    top: 270%;
    height:100px;
    background: linear-gradient(to bottom,#fff,rgb(68, 129, 131),rgb(68, 129, 131));
    display: flex;
    justify-content: center;
    align-items: center;
}

/* responsive */







/*width*/





@media(width:390px){
    /* navbar */
    .navbar{
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .p{
        font-size: 15px;
    }
    /*content*/
    .content{
        height: 170px;
    }
    .cont-pic{
        position: absolute;
        top: 70px;
        width: 150px;
        height: 150px;
        margin-left: 10px;
    }
    .cont-intro{
        top: 130px;
        right: 10px;
    }
    @keyframes intro {
        from{
                font-size: 0px;
        }
        to{
                font-size: 20px;
        }
    }

    /*page1*/
    .page1{
        top: 200px;
        height: 700px;
        font-size: 16px;
        
    }
    .ul{
        padding-left:5px;
    }
    /*page2*/
        .page2{
            top: 140%;
            font-size: 11px; 
            padding: 0px; 

}
.z{
    margin-left: 10px;
}
.t{
    font-size: 18px;
    animation-name: project;
    animation-timing-function:steps(8);
    animation-duration: 5s;
    animation-delay: 0s;
    animation-play-state: running;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    left: 10px;  
    
}
.e{
    margin-left:10px;
    
}
.e:hover{
    width: 273px;
}
@keyframes project {
    form{
   left: 10px;

    }
    to{
   left: 305px;
  
    }
}
/*page3*/
.page3{
    font-size: 11px;
    height: 100px;
    top: 174%;
}
.phone{
    font-size: 15px;
    height: 15px;
    
}
.whatsapp{
    font-size: 15px;
    height: 15px;
}
img{
    height: 15px;

}
.o{
    font-size: 15px;
}

/*page 4*/
.login{
    top: 194%;
   
}
/*footer*/
footer{
    height: 50px;
    top: 260%;
}
}




